<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.overloadsteve.giftedscanx">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/picture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:exported="true"
            tools:ignore="MissingClass">
        </activity>

        <activity android:name=".OcrActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="MissingClass">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.overloadsteve.giftedscanx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>
    </application>

</manifest>